main {
  background-color: aliceblue;
  min-height: 700px;
  display: flex;
  font-family: "Signika", sans-serif;
}
.mainSection {
  width: 75%;
  background-color: rgb(245, 232, 250);
  height: 100%;
  min-height: 100%;
}
.commentSection {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: rgb(245, 232, 250);
  min-height: 100%;
  padding: 2% 2% 2% 1%;
}
